<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364510561106-vf6hi8r4qcfmnbcftvvp8ohb1m7lcce8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364510561106-vf6hi8r4qcfmnbcftvvp8ohb1m7lcce8</string>
	<key>API_KEY</key>
	<string>AIzaSyAgnVv6e12s-bBQge0qyI7dLn7w7unggnI</string>
	<key>GCM_SENDER_ID</key>
	<string>364510561106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>cloudbasedapp-b8306</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudbasedapp-b8306.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364510561106:ios:29b7c303411822f321708b</string>
</dict>
</plist>